.Results .search-result {
  background-color: #685ed7a9;
  border-radius: 20px;
  margin: 30px auto 0px;
  text-align: center;
  padding: 20px 0px;
  box-shadow: 5px 6px 10px #5b52bf;
}

.Results h2 {
  text-transform: capitalize;
}
